<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->
<!--<mapper namespace="com.example.mapper.UserMapper">-->


<!--    <select id="pageQuery" resultType="com.example.entity.User">-->
<!--        select-->
<!--        user.*-->
<!--        from book_borrow.user-->
<!--        <where>-->
<!--            <if test="name != null">-->
<!--                and user.name like concat('%',#{name},'%')-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

<!--    <update id="update" parameterType="com.example.entity.User">-->
<!--        UPDATE book_borrow.user-->
<!--        <set>-->
<!--            <if test="name != null">name = #{name},</if>-->
<!--            <if test="password != null">password = #{password},</if>-->
<!--            <if test="phone != null">phone = #{phone},</if>-->
<!--            <if test="sex != null">sex = #{sex},</if>-->
<!--            <if test="avatar != null">avatar = #{avatar},</if>-->
<!--            <if test="status != null">status = #{status},</if>-->
<!--            <if test="updateTime != null">update_time = #{updateTime},</if>-->
<!--            <if test="updateUser != null">update_user = #{updateUser},</if>-->
<!--            <if test="maxBorrow != null">max_borrow = #{maxBorrow},</if>-->
<!--        </set>-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--</mapper>-->
